<ion-header>
  <ion-toolbar class="toolbarheader">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-title">
      <a routerLink="/home" class="logo-link">
        <img src="../../assets/icon/psicoagendalogo.png" alt="Logo" class="header-logo"/>
        PsicoAgenda
      </a>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="redirectTo('/login')">Entrar</ion-button>
      <ion-button (click)="redirectTo('/registropaciente')">Registrarse</ion-button>
      <ion-button (click)="toggleOptions()">Profesionales</ion-button>
      <ion-list *ngIf="showOptions">
        <ion-item (click)="redirectTo('/login')">Ingresa</ion-item>
        <ion-item (click)="redirectTo('/registropsico')">Registrate</ion-item>
      </ion-list>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="form-container">
    <ion-title class="titulo-formulario">Únete como paciente</ion-title>
    <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
      <ion-item>
        <ion-label position="floating">Calle</ion-label>
        <ion-input type="text" formControlName="Calle"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Numeración</ion-label>
        <ion-input type="text" formControlName="Numero"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Comuna</ion-label>
        <ion-input type="text" formControlName="IdComuna"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Primer Nombre</ion-label>
        <ion-input type="text" formControlName="PrimerNombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Primer Apellido</ion-label>
        <ion-input type="text" formControlName="ApellidoPaterno"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Segundo Apellido</ion-label>
        <ion-input type="text" formControlName="ApellidoMaterno"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input type="text" formControlName="Telefono"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha de Nacimiento </ion-label>
        <ion-input type="text" formControlName="FechaNacimiento"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" formControlName="CorreoElectronico"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="Contrasena"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Rut</ion-label>
        <ion-input type="text" formControlName="Rut"></ion-input>
      </ion-item>
      <ion-button class= "ion-button-registar" expand="block" type="submit" [disabled]="!userForm.valid">Registrar</ion-button>
    </form>
  </div>
   <!-- Footer -->
<ion-footer>
  <ion-toolbar class="toolbarfooter">
    <div class="footer-content">
      <div class="footer-left">
        <p>©2024 - PsicoAgenda APP</p>
        <p>Todos los Derechos Reservados</p>
      </div>
      <div class="footer-center">
        <!-- Aquí puedes agregar el contenido del bloque central -->
      </div>
      <div class="footer-right">
        <p><a href="phone"><ion-icon name="call-outline"></ion-icon> Telefono Contacto: 920256865</a> </p>
        <p><a href="www.instagram.com/psicoagenda"><ion-icon name="logo-instagram"></ion-icon> www.instagram.com/psicoagenda</a></p>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
</ion-content>
