/* registropsico.css */

:root {
  --ion-color-primary: #4a90e2; /* Color primario de la marca */
  --ion-background-color: #f5f5f5; /* Color de fondo general */
  

}



.main-banner {
  background-color: #009688;
  color: #000000;
  padding: 5rem;
  text-align: center;
}

ion-form {
    background-color: var(--ion-background-color);
    padding: 20px;
    border-radius: 10px;
}

ion-item {
    --background: #fff;
    --color: var(--ion-color-primary);
    --placeholder-color: var(--ion-color-primary);
    --placeholder-opacity: 0.8;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc; /* Borde sutil para cada campo */
}

ion-input {
    --padding-start: 10px;
    --padding-end: 10px;
    --placeholder-color: var(--ion-input-placeholder-color);
}

ion-button {
    --background: #009688;
    color: #fff;
}

ion-button:hover {
    --background: #00796b;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ajuste para responsividad */
    max-width: 600px; /* Ancho máximo para el contenedor */
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
}

ion-icon {
  font-size: 2em; /* Tamaño de ícono más grande */
  margin-right: 8px; /* Espacio entre el icono y el texto */
  color: #009688; /* Asegúrate de que el color sea el definido para el texto */
}