<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>Editar datos</ion-button>
      <ion-button routerLink="/home">Salir</ion-button>
    </ion-buttons>
    <ion-title style="text-decoration: none;">
      <a routerLink="/home" style="text-decoration: none;">
        <img src="../../assets/icon/psicoagendalogo.png" style="height: 40px; margin-right: 8px;" alt="Logo"/>
      </a>
      PsicoAgenda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Sección de Cita en Curso -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cita en Curso</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Datos de la próxima cita, interpolados para fácil integración con la API -->
      Fecha: <strong>{{ proximaCita.fecha }}</strong><br />
      Hora: <strong>{{ proximaCita.hora }}</strong><br />
      Paciente: <strong>{{ proximaCita.paciente }}</strong><br />
      Estado: <strong>{{ proximaCita.estado }}</strong>
    </ion-card-content>
  </ion-card>
  <!-- Tabla de Historial de Atenciones -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Historial de Atenciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col><strong>Fecha/Hora</strong></ion-col>
          <ion-col><strong>ID Cita</strong></ion-col>
          <ion-col><strong>Datos Paciente</strong></ion-col>
          <ion-col><strong>Estado</strong></ion-col>
        </ion-row>
        <!-- ngFor para iterar sobre el array del historial de citas -->
        <ion-row *ngFor="let cita of historialCitas">
          <ion-col>{{ cita.fecha }} {{ cita.hora }}</ion-col>
          <ion-col>{{ cita.id }}</ion-col>
          <ion-col>{{ cita.paciente }}</ion-col>
          <ion-col>{{ cita.estado }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-content">
      <div class="footer-left">
        <p>©2024 - PsicoAgenda APP</p>
        <p>Todos los Derechos Reservados</p>
      </div>
      <div class="footer-right">
        <p>
          <a href="tel:920256865"
            ><ion-icon name="call-outline"></ion-icon> Teléfono Contacto:
            920256865</a
          >
        </p>
        <p>
          <a href="https://www.instagram.com/psicoagenda"
            ><ion-icon name="logo-instagram"></ion-icon>
            www.instagram.com/psicoagenda</a
          >
        </p>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
