<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>Editar datos</ion-button>
      <ion-button>Especialidades</ion-button>
      <ion-button>Mi agenda</ion-button>
      <ion-button routerLink="/home" expand="full" >Salir</ion-button>
    </ion-buttons>
    <ion-title style="text-decoration: none;">
      <a routerLink="/home" style="text-decoration: none;">
        <img src="../../assets/icon/psicoagendalogo.png" style="height: 40px; margin-right: 8px;" alt="Logo"/>
      </a>
      PsicoAgenda
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <!-- Sección para agendar cita con Gerardo Gutierrez -->
    <ion-card class ="ioncard">
    <ion-card-header>
      <ion-card-title>Agendar Cita con Gerardo Gutierrez</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Componente de calendario para Gerardo -->
      <!--<ion-calendar></ion-calendar>-->
      <!-- Botón para confirmar la cita con Gerardo -->
      <ion-button  class="button-agenda">Confirmar Cita con Gerardo</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Sección para agendar cita con Rocío Valenzuela -->
  <ion-card class ="ioncard">
    <ion-card-header>
      <ion-card-title>Agendar Cita con Rocío Valenzuela</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Componente de calendario para Rocío -->
      <!--<ion-calendar></ion-calendar> -->
      <!-- Botón para confirmar la cita con Rocío -->
      <ion-button class="button-agenda" >Confirmar Cita con Rocío</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-content">
      <div class="footer-left">
        <p>©2024 - PsicoAgenda APP</p>
        <p>Todos los Derechos Reservados</p>
      </div>
      <div class="footer-center">
        <!-- Contenido del bloque central opcional -->
      </div>
      <div class="footer-right">
        <p><a href="tel:920256865"><ion-icon name="call-outline"></ion-icon> Telefono Contacto: 920256865</a></p>
        <p><a href="https://www.instagram.com/psicoagenda"><ion-icon name="logo-instagram"></ion-icon> www.instagram.com/psicoagenda</a></p>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
