/* General styles */
:root {
  --ion-color-primary: #009688; /* Este es el color verde que quieres aplicar */
  --ion-text-color: #000; /* Este es para el color del texto */
  /* ...otros estilos... */
}

/* Estilos del encabezado */
ion-toolbar {
  --background: var(--ion-color-primary); /* Usa el color verde para el fondo */
  --color: var(--ion-text-color); /* Color del texto dentro del toolbar */
}

/* Estilos para los botones del encabezado */
ion-button {
  --color: var(--ion-text-color); /* Color del texto para los botones */
}

/* Estilos de la tarjeta de bienvenida */
ion-card {
  text-align: center; /* Alineación del texto al centro */
}

ion-card-title {
  color: #4a4a4a; /* Color del título de la tarjeta */
  font-size: 1.2em; /* Tamaño de fuente más grande para el título */
}

/* Estilos de los íconos */
ion-icon {
  font-size: 2em; /* Tamaño de ícono más grande */
  margin-right: 8px; /* Espacio entre el icono y el texto */
  color: #009688; /* Asegúrate de que el color sea el definido para el texto */
}

/* Ajustes de padding y margen según tu diseño */
ion-card-content {
  padding: 1em;
}

ion-footer {
  ion-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    --background: #333; /* Si quieres mantener este color para el footer, está bien */
    color: #fff; /* Esto hará que el texto dentro del footer sea blanco */
    padding: 1rem;
    font-size: 0.8rem;
    text-align: center;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .footer-left {
    flex: 1; /* Ocupa el espacio disponible */
    text-align: center;
  }

  .footer-right {
    text-align: right;
  }

  /* Para los enlaces dentro del footer */
  .footer-right a {
    color: var(--ion-text-color); /* Color del texto para los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
  }

  /* Eliminar la clase 'button' para que no afecte a los iconos */
  .footer-right ion-icon {
    --color: var(--ion-text-color); /* Restablece el color del icono */
  }
}

/* Elimina cualquier estilo adicional de la clase .button que no quieras */
