<ion-header>
  <ion-toolbar class="toolbarheader">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="redirectTo('/home')">Editar datos</ion-button>
      <ion-button (click)="redirectTo('/atencionespaciente')">Historial de atenciones</ion-button>
      <ion-button (click)="redirectTo('/fichapaciente')">Fichas clinicas</ion-button>
      <ion-button (click)="redirectTo('/home')">Cerrar sesión</ion-button>
    </ion-buttons>
    <ion-title class="header-title">
      <a style="color: #000000;" routerLink="/home" class="logo-link">
        <img src="../../assets/icon/psicoagendalogo.png" alt="Logo" class="header-logo" />
        PsicoAgenda
      </a>
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <!-- Sección para agendar cita con Gerardo Gutierrez -->
  <ion-card class="ioncard" style="margin-top: 2.4rem;">
    <ion-card-header>
      <ion-card-title>Agendar cita un Psicologo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-content>
        Aqui podras encontrar ayuda de diferentes psicologos
      </ion-card-content>
      <ion-button (click)="buscar()" class="button-agenda">Agenda tu hora</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="ioncard" style="margin-top: 1.5rem;">
    <ion-card-header>
      <ion-card-title>Realizar una consulta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-content>
        Aqui puedes realizar tus consultas urgentes a los psicologos
      </ion-card-content>
      <ion-button class="button-agenda">Consulta</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="ioncard" style="margin-top: 1.5rem;">
    <ion-card-header>
      <ion-card-title>Solicita un presupuesto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-content>
        Aqui puedes realizar tus consultas urgentes a los psicologos
      </ion-card-content>
      <ion-button class="button-agenda">Solicita</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <div class="footer-content">
      <div class="footer-left">
        <p>©2024 - PsicoAgenda APP</p>
        <p>Todos los Derechos Reservados</p>
      </div>
      <div class="footer-center">
        <!-- Aquí puedes agregar el contenido del bloque central -->
      </div>
      <div class="footer-right">
        <p class="logo-link"><ion-icon class="header-logo" name="call-outline"></ion-icon>Teléfono Contacto: 920256865
        </p>
        <p class="logo-link"><ion-icon class="header-logo"
            name="logo-instagram"></ion-icon>www.instagram.com/psicoagenda</p>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>