/* global.css */
:root {
    --ion-color-primary: #009688; /* Verde para elementos primarios */
    --ion-background-color: #f5f5f5; /* Fondo general de la aplicación */
    --ion-text-color: #000; /* Color de texto general */
    --ion-footer-background: black; /* Fondo del footer en negro */
    --ion-footer-text-color: #fff; /* Texto del footer en blanco */
    --ion-input-placeholder-color: #888; /* Color para los placeholders de los inputs */
}

/* Ajustes generales de la cabecera y el pie de página */
ion-header, ion-toolbar {
    --background: var(--ion-background-color);
    --padding-start: 16px;
    --padding-end: 16px;
}

ion-footer {
    --background: var(--ion-footer-background);
    color: var(--ion-footer-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 0.8rem;
    text-align: center;
}

/* Estilos para botones */
ion-button {
    --background: var(--ion-color-primary);
    --color: var(--ion-footer-text-color);
}

/* Estilos para iconos */
ion-icon {
    font-size: 2em;
    margin-right: 8px;
    --color: var(--ion-color-primary); /* Hace que los iconos usen el color primario */
}

/* Estilos específicos para el formulario de registro */
.form-container {
    max-width: 600px; /* Ancho máximo para el formulario */
    margin: 0 auto; /* Centrado horizontal */
    padding: 20px;
    background-color: #fff; /* Fondo blanco para el formulario */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Sombra suave para destacar el formulario */
    border-radius: 8px; /* Bordes redondeados para el formulario */
}

ion-item {
    --background: #fff; /* Fondo blanco para los items de formulario */
    --border-radius: 8px; /* Bordes redondeados */
    --color: var(--ion-text-color); /* Color de texto general */
    --placeholder-color: var(--ion-input-placeholder-color); /* Color de los placeholders */
    margin-bottom: 10px; /* Espaciado entre items */
}

ion-input {
    --padding-start: 10px;
    --padding-end: 10px;
}

/* Ajustes visuales para inputs */
ion-input[type="text"], ion-input[type="email"], ion-input[type="password"] {
    --padding-start: 12px;
    --padding-end: 12px;
    --placeholder-font-style: italic; /* Estilo de fuente para placeholders */
    --placeholder-opacity: 0.8; /* Opacidad para placeholders */
    --placeholder-color: var(--ion-input-placeholder-color); /* Color específico para placeholders */
}
