<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Entrar</ion-button>
      <ion-button>Registrarse</ion-button>
      <ion-button (click)="toggleOptions()">Profesionales</ion-button>
      <ion-list *ngIf="showOptions">
        <ion-item (click)="redirectTo('/login')">Ingresa</ion-item>
        <ion-item (click)="redirectTo('registropsico')">Registrate</ion-item>
      </ion-list>
    </ion-buttons>
    <ion-title style="text-decoration: none;">
      <a routerLink="/home" style="text-decoration: none;">
        <img src="../../assets/icon/psicoagendalogo.png" style="height: 40px; margin-right: 8px;" alt="Logo"/>
      </a>
      PsicoAgenda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Banner principal -->
  <div class="main-banner">
    <h1>Encuentra tu Psicólogo</h1>
    <p>Aquí podrás encontrar ayuda de diferentes profesionales con diversas especialidades en psicología</p>
    <ion-searchbar placeholder="Puede buscar por nombre y/o apellido, RUT o especialidad"></ion-searchbar>
  </div>

  <!-- Sección de Testimonios -->
  <ion-card class="testimonials-section">
    <ion-card-header>
      <ion-card-title>Pacientes y Psicólogos</ion-card-title>
    </ion-card-header>
    <ion-card>
      <img src="assets/icon/paciente-psicologo.png" alt="Imagen de un psicólogo con paciente" class="imagen">
    </ion-card>
  </ion-card>
</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <div class="footer-content">
      <div class="footer-left">
        <p>©2024 - PsicoAgenda APP</p>
        <p>Todos los Derechos Reservados</p>
      </div>
      <div class="footer-center">
        <!-- Aquí puedes agregar el contenido del bloque central -->
      </div>
      <div class="footer-right">
        <p><a href="phone"><ion-icon name="call-outline"></ion-icon> Telefono Contacto: 920256865</a> </p>
        <p><a href="www.instagram.com/psicoagenda"><ion-icon name="logo-instagram"></ion-icon> www.instagram.com/psicoagenda</a></p>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
