<ion-header>
  <ion-toolbar class="toolbarheader">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-title">
      <a routerLink="/home" class="logo-link">
        <img src="../../assets/icon/psicoagendalogo.png" alt="Logo" class="header-logo"/>
        PsicoAgenda
      </a>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Banner principal -->
  <div class="main-banner">
    <h1>Encuentra tu Psicólogo</h1>
    <p>Aquí podrás encontrar ayuda de diferentes profesionales con diversas especialidades en psicología</p>
    <ion-searchbar placeholder="Puede buscar por nombre y/o apellido, RUT o especialidad"></ion-searchbar>
  </div>

  <!-- Sección de Testimonios -->
  <ion-card class="testimonials-section">
    <ion-card-header>
      <ion-card-title>Pacientes y Psicólogos</ion-card-title>
    </ion-card-header>
    <ion-card>
      <img src="assets/icon/paciente-psicologo.png" alt="Imagen de un psicólogo con paciente" class="imagen">
    </ion-card>
  </ion-card>
  <!-- Footer -->
<ion-footer>
  <ion-toolbar class="toolbarfooter">
    <div class="footer-content">
      <div class="footer-left">
        <p>©2024 - PsicoAgenda APP</p>
        <p>Todos los Derechos Reservados</p>
      </div>
      <div class="footer-right">
        <p><a href="phone"><ion-icon name="call-outline"></ion-icon> Telefono Contacto: 920256865</a> </p>
        <p><a href="www.instagram.com/psicoagenda"><ion-icon name="logo-instagram"></ion-icon> www.instagram.com/psicoagenda</a></p>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
</ion-content>


